<%- include layouts/header.ejs %>
    <br>
    <div class="card mb-5">
        <div class="card-header text-center display-4 text-dark">
           <strong> ELIGE LA CATEGORIA QUE MAS TE GUSTE :)</strong>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 mb-3">
            <div class="card">
                <img height="400"
                    src="https://olcovers2.blob.core.windows.net/coverswp/2017/01/Manual-basico-de-seguridad-informatica-para-activistas-OpenLibra.gif"
                    class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title text-center text-dark">PROGRAMACIÓN</h5>
                    <p class="card-text text-dark">Todos los libros de programación a tu alcance.</p>
                    <a href="libros" class="btn btn-outline-danger btn-sm d-grid gap-2 ">VER MAS</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mb-3">
            <div class="card">
                <img height="400"
                    src="https://olcovers2.blob.core.windows.net/coverswp/2017/07/Digital-Circuit-Projects-An-Overview-of-Digital-Circuits-Through-OpenLibra.gif"
                    class="card-img-top border-bottom" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center text-dark">ELECTRONICA</h5>
                    <p class="card-text text-dark">Todos los libros de electrónica a tu alcance.</p>
                    <a href="librosE" class="btn btn-outline-danger btn-sm d-grid gap-2 ">VER MAS</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mb-3">
            <div class="card">
                <img height="400"
                    src="https://olcovers2.blob.core.windows.net/coverswp/2014/06/how-to-win-at-et-OpenLibra.jpg"
                    class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title text-center text-dark">RETROINFORMATICA</h5>
                    <p class="card-text text-dark">Todos los libros de informática a tu alcance.</p>
                    <a href="librosRetro" class="btn btn-outline-danger btn-sm d-grid gap-2 ">VER MAS</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mb-3">
            <div class="card">
                <img height="400"
                    src="https://olcovers2.blob.core.windows.net/coverswp/2016/10/automatizacion-robotica-OpenLibra.gif"
                    class="card-img-top border-bottom" alt="...">

                <div class="card-body">
                    <h5 class="card-title text-center text-dark">ROBOTICA</h5>
                    <p class="card-text text-dark">Todos los libros de robótica a tu alcance. </p>
                    <a href="#" class="btn btn-outline-danger btn-sm d-grid gap-2 ">VER MAS</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <h3 class="pb-4 fst-italic ">coming soon...</h3>




    <br><br><br><br><br><br><br><br>

    <%- include layouts/footer.ejs %>