<%- include layouts/header.ejs %>

    <div class="p-4 p-md-5 mb-4 text-dark rounded bg-white">
        <div class="col-md-10 px-0">
            <h1 class="display-4 fst-italic">LOS MEJORES LIBROS A TU DISPOSICIÓN</h1>
            <p class="lead my-3">Todos los libros que componen este sitio son libres y, por tanto, son tuyos... son de
                todos.
            </p> 
        </div>
    </div>

    <br>
    <h3 class="pb-4 fst-italic ">CONTENIDO:</h3>
    <div class="row">
        <div class="col-sm-3 mb-3">
            <div class="card">
                <img height="400"
                    src="https://olcovers2.blob.core.windows.net/coverswp/2018/02/Eloquent_JavaScript-OpenLibra.jpg"
                    class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title text-center text-dark">PROGRAMACIÓN</h5>
                    <p class="card-text text-dark">Bienvenido al maravilloso mundo de la programación.</p>
                    <a href="libros" class="btn btn-primary btn-sm d-grid gap-2 col-6 mx-auto">VER MAS</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mb-3">
            <div class="card">
                <img height="400"
                    src="https://olcovers2.blob.core.windows.net/coverswp/2017/07/Digital-Circuit-Projects-An-Overview-of-Digital-Circuits-Through-OpenLibra.gif"
                    class="card-img-top border-bottom" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center text-dark">ELECTRONICA</h5>
                    <p class="card-text text-dark">Bienvenido al maravilloso mundo de la electrónica.</p>
                    <a href="librosE" class="btn btn-primary btn-sm d-grid gap-2 col-6 mx-auto">VER MAS</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mb-3">
            <div class="card">
                <img height="400"
                    src="https://olcovers2.blob.core.windows.net/coverswp/2014/06/how-to-win-at-et-OpenLibra.jpg"
                    class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title text-center text-dark">RETROINFORMATICA</h5>
                    <p class="card-text text-dark">Bienvenido al maravilloso mundo de la retroinformática.</p>
                    <a href="#" class="btn btn-primary btn-sm d-grid gap-2 col-6 mx-auto">VER MAS</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mb-3">
            <div class="card">
                <img  height="400"
                    src="https://olcovers2.blob.core.windows.net/coverswp/2016/10/automatizacion-robotica-OpenLibra.gif"
                    class="card-img-top border-bottom " alt="...">

                <div class="card-body">
                    <h5 class="card-title text-center text-dark">ROBOTICA</h5>
                    <p class="card-text text-dark">Bienvenido al maravilloso mundo de la robotica.</p>
                    <a href="#" class="btn btn-primary btn-sm d-grid gap-2 col-6 mx-auto">VER MAS</a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
<%- include layouts/footer.ejs %>