<%- include layouts/header.ejs %>
    <br>
    
        <div class="card mb-5">
            <div class="card-header text-center display-4 text-dark">
                <strong> EQUIPASO TECNICO XD</strong>
            </div>
        </div>
        <div class="album  bg-dark">

            <div class="container">
                <div class="row row-cols- row-cols-sm-2  g-3">

                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://scontent.ftru3-1.fna.fbcdn.net/v/t1.6435-9/205603899_4129847993779231_1198546396005989471_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeFp4vk_lIi6PFesJ7NfdiALM-7PI91YPR8z7s8j3Vg9HxUIhV42M9omcAwGsExfMETMq_lTk7GvxevMUy5R8vKI&_nc_ohc=8EdpLtAZpKsAX9EjFMi&_nc_ht=scontent.ftru3-1.fna&oh=3a0f91f87824a630efe7b040e93aa499&oe=60D6716C"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-dark text-center"> <strong>   Yiro Verona</strong></h5>
                                <p class="card-text text-dark">Bienvenido al maravilloso mundo de la programaci贸n.</p>
                                <br>
                                <a href="#" class="btn btn-outline-primary d-grid gap-2 d-md-block bi bi-facebook" > Contactar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://scontent.ftru3-1.fna.fbcdn.net/v/t1.6435-9/204742681_4129848010445896_960316202714903558_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeEVETErUkXhwRjqhkvtQuvNrLzjXIRtYlCsvONchG1iUItf8kOxxS4Fzyd1vx6ff-8RiQ6VtXfzibqUfrD_S0O_&_nc_ohc=z6qOikpNe24AX8EI5dU&_nc_ht=scontent.ftru3-1.fna&oh=6c4774ba24b544caeb3051f2a390e3c3&oe=60D6A3CD"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-dark text-center"> <strong>Julio Camones</strong></h5>
                                <p class="card-text text-dark">Bienvenido al maravilloso mundo de la programaci贸n.</p>
                                <br>
                                <a href="#" class="btn btn-outline-primary d-grid gap-2 d-md-block bi bi-facebook" > Contactar</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 mb-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://scontent.ftru3-1.fna.fbcdn.net/v/t1.6435-9/202383732_4129847997112564_5856435272040003018_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeF3DLzfsHi6jO58mPaTOJ1YlRzrfs93iEGVHOt-z3eIQfxJM96XeAkJKUuJhVtK8bnT8xt8EnvkCXfH_9tiwZKl&_nc_ohc=FWuHy1qa-B8AX9m8ztJ&_nc_ht=scontent.ftru3-1.fna&oh=ab067a9bea7f2e9d420df090a4c4b1c0&oe=60D6EEFB"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-dark text-center"><strong>Jim Chirinos</strong></h5>
                                <p class="card-text text-dark">Bienvenido al maravilloso mundo de la programaci贸n.</p>
                                <br>
                                <a href="#" class="btn btn-outline-primary d-grid gap-2 d-md-block bi bi-facebook" > Contactar</a>
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://scontent.ftru3-1.fna.fbcdn.net/v/t1.6435-9/51503752_2086531954777522_7203682946018967552_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeFb0S33MH7hI9pc8q5Dl16qDd-vJtrd0dIN368m2t3R0q6yWpbTbuCZtkt83xT9pFBRIsz9XmEcfPYWG5UxNs6G&_nc_ohc=PylL1-6hv5gAX-wER09&_nc_ht=scontent.ftru3-1.fna&oh=74a5dcd64643dd1bc71f315da6a04d9e&oe=60D6DAB7"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-dark text-center"><strong>Roy Cartagena</strong></h5>
                                <p class="card-text text-dark">Bienvenido al maravilloso mundo de la programaci贸n.</p>
                                <br>
                                <a href="#" class="btn btn-outline-primary d-grid gap-2 d-md-block bi bi-facebook" > Contactar</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    <br>
    <br>


    <%- include layouts/footer.ejs %>